modules = ["python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["cairo", "ffmpeg-full", "freefont_ttf", "freetype", "ghostscript", "glib", "gmp", "gobject-introspection", "gtk3", "hackrf", "kalibrate-hackrf", "libxcrypt", "openssl", "pkg-config", "postgresql", "qhull", "soapyhackrf", "tcl", "tk", "util-linux", "xsimd"]

[deployment]
deploymentTarget = "autoscale"
run = ["gunicorn", "--bind", "0.0.0.0:5000", "main:app"]

[workflows]
runButton = "Analyze"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "python"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --bind 0.0.0.0:5000 --reuse-port --reload main:app"
waitForPort = 5000

[[workflows.workflow]]
name = "python"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[workflows.workflow]]
name = "Analyze"
author = 41776084
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py -m analyze -f 315.0 --verbose --retry-count 3 --timeout 60"

[[ports]]
localPort = 5000
externalPort = 80
